*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep
*.iex
*.uvopt
*.htm
*.hsc
*.lnk
st.*
JLinkLog.txt
.tags
.tags_sorted_by_file
~*
*.map
*uvgui*
*.uvoptx
*.udb
*.ini
*.sct
*.uvguix.*